
.resultsContainer{
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
}

.resultsContainer h1{
    font-size: 1.5rem;
    color: #e2e9eb;
    margin-bottom: 1rem;
}
.resultsContainer p{
    text-align: left;
    width: 100%;
    margin:0;
}


.innerResultsContainer{
    width: 100%;
    padding: 2rem;
    background-color: #0e2431;
    border-radius: 15px;
    border-top: 5px solid #d9db30;
    margin-top: 1rem;

}

.monthly{
    font-size: 3.5rem;
    text-align: left;
    border-bottom: 1px solid #1d3340;
    color: #d9db30 ;
    padding-bottom: 1rem;
}



.total h3{
    text-align: left;
    font-size: 2rem;
    color: #e2e9eb;
}


.total p{
    margin: 1rem 0;
}

